/* Import font */
@font-face {
    font-family: "Stolzl";
    src: url("/stolzl/stolzl_light.otf");
}

/* Root font size */
:root {
    font-size: 16px;
}

/* Global styles */
* {
    font-family: "Stolzl";
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
}

/* Navigation bar styles */
nav {
    height: 2.5rem;
    background-color: #7f9f5d18;
    display: flex;
    justify-content: left;
    width: 100%;
    position: fixed;
    z-index: 4;

    padding:1.8rem;
}

/* Navigation list styles */
ul {
    list-style-type: none;
    text-decoration: none;
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    align-items: center;
    padding-right: 0.5rem;
    
}
ul>li{
    padding-left: 2rem;
}

/* Left navigation item styles */
#left-nav {
    font-weight: bold;
    color: white;
    font-size: x-large;
     /* Remove underline */
}

/* Right navigation item styles */
.right-nav {
    color: white;
    text-decoration: none; /* Remove underline */
}

/* Active page navigation item styles */
.active {
    font-weight: bold;
    
    
}
a:link { 
    text-decoration: none; 
  
  } 


  footer {
    background-color: #7f9f5d;
    color: #fff;
    text-align: center;
    padding: 2rem 0;
}


/* Media query for smaller screens */
@media screen and (max-width: 1000px) {
    /* Change flex direction to column */
    nav {
        margin:0 auto;
        align-items: center;
        justify-content: center;
        height:fit-content;
        background-color: #7f9f5d;
        

        position: static;
    }

    /* Adjust width of navigation list */
    ul {
        display: flex;
        flex-direction: column;
        
        width: 50%;
    }
    ul>li{
        padding:1rem;
        width:100%;
        
    }
}

