/* Import font */
@font-face {
    font-family: "Stolzl";
    src: url("/stolzl/stolzl_light.otf");
}

/* Root font size */
:root {
    font-size: 16px;
}

/* Global styles */
* {
    font-family: "Stolzl";
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
}

/* Navigation bar styles */
nav {
    height: 2.5rem;
    background-color: #7f9f5d18;
    display: flex;
    justify-content: left;
    width: 100%;
    position: fixed;
    z-index: 4;
}

/* Navigation list styles */
ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    align-items: center;
    padding-right: 0.5rem;
}

/* Left navigation item styles */
#left-nav {
    font-weight: bold;
    color: white;
    font-size: x-large;
    text-decoration: none; /* Remove underline */
}

/* Right navigation item styles */
.right-nav {
    color: white;
    text-decoration: none; /* Remove underline */
}

/* Active page navigation item styles */
.active {
    font-weight: bold;
}

/* Media query for smaller screens */
@media screen and (max-width: 500px) {
    /* Change flex direction to column */
    nav {
        flex-direction: column;
        align-items: center;
    }

    /* Adjust width of navigation list */
    ul {
        width: 100%;
    }
}
