/* Define font for locally hosted font */

/* Body styles */
body {
    min-height: 100vh;
    background-color: #7f9f5d;
}

/* Apply padding to all direct children of body */
body > * {
    padding: 1.8rem;
}

/* Hero section styles */
.hero {
    height: 100vh;
    background-image: url("/photos/green.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

   
}



/* Hero heading styles */
.hero > h1 {
    color: #d3efb3;
    background-color: #7f9f5d3d;
    font-size: 4rem;
    font-weight: bold;
}

h2{
    font-size: 2rem;
}

/* Hero subtitle styles */
.hero > h3 {
    font-size: 1.5rem;
    text-align: center;
}

/* Midbar styles */
.midbar {
    background-image: linear-gradient(#7f9f5d, #CADF83);
    height: 1rem;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

/* Introduction section styles */
.intro {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 50vh;
    width: 100%;
    justify-content: center;
    background-color: #CADF83;
}

.intro>img {
    max-height: 50vh;
}

/* Container styles */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.climate{
    flex-direction: row;
    background-image: url("/photos/brianna-marble-pWIKuHDeF4E-unsplash.jpg");
    background-position: 90%;
    background-size: cover;
    height: 50vh;
    border-top: 1px solid white;
    

    display:flex;
    flex-direction: column;
}
.multi-container{
    display: flex;
    flex-direction: row;
    justify-content: center;


}
.multi-container>*{
    margin:2rem;
    display: flex;
    flex-direction: column;
}
.multi-container>h3>*{
    display: flex;
    
}

.dot-group{
    display: flex;
    flex-direction: row;
}
.reddot{
    margin:0.25rem;
    width:2rem;
    height: 2rem;
    background-color: red;
    border: 5px solid seagreen;
    border-radius: 100px;
}
.visual{
    background-color: black;
}
.container>h2 {
    align-self: flex-start;
    color: white;
    
}

.cost {
    background-color: #CADF83;
    padding: 4rem;
    
    text-align: center;

    
}

.cost h3 {
    color: #7f9f5d;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.cost h4 {
    font-size: 1.2rem;
    line-height: 1.6;
}

.threebar {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap */
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
}

.threebar>h3 {
    background-color: #7f9f5d;
    padding: 1rem;
    max-width: 33%;
}

/* Grid container styles */
.grid-container {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    justify-content: center;
    background-image: url("/photos/forest.jpg");
    background-size: cover;
    padding: 1rem;
}

/* Grid child styles */
.grid-child {
    background-color: #0000003e;
    display: flex;
    justify-content: center;
    padding: 3rem;
}

/* Grid child hover effect */
.grid-child:hover {
    background-color: orange;
}

/* Media query for smaller screens */
@media screen and (max-width: 1000px) {
    /* Adjust font size for hero heading */
    .hero > h1 {
        font-size: 3rem;
    }

    /* Adjust font size for introduction text */
    .intro > h2 {
        font-size: 1.5rem;
    }

    /* Adjust grid container styles for smaller screens */
    .grid-container {
        padding: 0.5rem;
    }

    /* Adjust grid child styles for smaller screens */
    .grid-child {
        padding: 1.5rem;
    }

    .multi-container{
        display: flex;
        flex-direction: column;
    }

    .intro {
        flex-direction: column;
        align-items: center;
    }

    .container {
        align-content: center;
        overflow: hidden;
    }

    .intro>img {
        width: 50%;
    }

    .threebar>h3 {
        max-width: none; /* Remove maximum width */
        width: 100%; /* Make each item occupy full width */
    }
}
