@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,700&display=swap');
@font-face{
    font-family: "Stolzl";
    src:url("/stolzl/stolzl_light.otf")
}

* {
    font-family: "Stolzl";
    box-sizing: border-box;
    margin: 0;
    color: white;
}

body {
    height: 100%;
    width: 100%;
    background-color: #CADF83;
}

nav {
    height: 2.5rem;
    background-color: #7f9f5d18;
    display: flex;
    justify-content: left;
    
    width: 100%;
    color: white; 
    position:fixed;
    z-index: 4;
}



ul {
    list-style-type: none;
    display:flex;  
    justify-content: space-evenly;
    width: 50%;
    
    align-items: center;
   
    
    
}

#left-nav{
   
    font-weight: bold;
    color: white;
    font-size: x-large;
    
}


.hero {
    
    height: 100vh;
    background-image: url("/photos/green.jpg");
    /* background-position: center; */
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
   


    /* font-weight: bold;
    font-size: 3rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

  */
}


.hero>* {
    /* position: absolute; */
   

}

/* .hero>img {
    width: 20rem;
    
   
} */


.hero>h2 {
    width:40%;
    position: relative;
    left: 10%;
    color: white;

    color: #c7e7a3;

    background-color:#7f9f5d3d;
   
    z-index: 1;

    font-size: 4rem;
    font-weight: bold;
   

}
.hero>h3{
    position: relative;
    font-size: 2rem;
    width:50%;
    left:10%;
}


.midbar{
   
    height: 1rem;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: #7f9f5d;
}

.container {
    display: flex;
    height: 40vh;
    align-items: center;
    /*background-color: #7f9f5d;*/
    display: flex;
    justify-content: center;

    width: 90%;
    margin: auto;
    

}

.multi-container {
    justify-content: center;
    background-color: #7f9f5d;
    padding: 3rem;
    margin: 1rem;;
    width:33.33%;
    display: flex;
    justify-content: center;
    

}